.button-group {
    display: flex;
    justify-content: space-around;
    width: 100%; 
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    height: 350px;
    width: 500px;
  }